<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>

<body>
    <h1>Super secret page !</h1>
    <h2>It is currently <%= date %></h2>
    <% if (!username) { %>
    <h2>Welcome stranger. <a href="/login">Wanna login ?</a></h2>
    <% } else { %>
    <h2>Welcome <%= username %>.
        <form action="/logout" method="POST">
            <button type="submit">Want to logout?</button>
        </form>
    </h2>
    <% } %>
</body>

</html>